<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:WEB-INF/mybatis/mybatis-config.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<constructor-arg index="1" value="REUSE" />
	</bean>


	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<bean id="transactionInterceptor" class="com.best.wcs.interceptor.TransactionInterceptor" />
	<bean id="transactionOutInterceptor" class="com.best.wcs.interceptor.TransactionOutInterceptor" />
	<bean id="transactionJobInterceptor" class="com.best.wcs.interceptor.TransactionJobInterceptor" />

	<bean id="mybatisDialectInterceptor" class="com.best.wcs.interceptor.MybatisDialectInterceptor" />
</beans>